<template>
  <div>
    <div class="cardd">
      <h3>INFO:</h3>
      <div @click="isToggle=!isToggle" v-bind:style="{backgroundColor: colorFront, color: colorTextFront}"
           v-show="!isToggle" class="animated flipInX flashcard">
        <div class="cardtext" style="padding-bottom: 15px;  "> {{headerFront}}</div>
        <div class="card-content centerrr">
          <p v-bind:style="{fontSize: textSizeFront,fontWeight: 'bold'}">{{front}}</p>
          <img src="../../FullSizeRender.jpg" width="200" height="200">
        </div>
        <div class="cardtext">{{footerFront}}</div>
      </div>
      <div @click="isToggle=!isToggle" v-bind:style="{backgroundColor: colorBack, color: colorTextBack}"
           v-show="isToggle" class="animated flipInX flashcard">
        <div class="card-content centerrr">
          <p v-bind:style="{fontSize: textSizeBack, fontWeight: 'bold'}">{{back}}</p>
          <img class="aboutme" src="../../aboutme.png" width="200" height="200">
          <div class="social-btn">
            <a href="https://www.facebook.com/thomyks" target="_blank">
              <div class="social face"><i class="fa fa-facebook fa-2x"></i><span>Facebook</span></div>
            </a>
            <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-nagy-4b5354110/" target="_blank">
              <div class="social in"><i class="fa fa-linkedin  fa-2x"></i><span>LinkedIn</span></div>
            </a>
          </div>
        </div>
        <div class="cardtext">{{footerBack}}</div>
      </div>
    </div>
      <!---->
      <div class="hobbies-list">
        <h3>TECHNICAL SKILLS:</h3>
        <table class="tablecontent">
          <tr>
            <th>TYPE</th>
            <th>LEVEL</th>
          </tr>
          <tr class="hobby-item"
              v-for="hobby in hobbies" v-dragging="{ item: hobby, list: hobbies, group: 'hobby' }"
              :key="hobby.text">
            <td>{{ hobby.text }}</td>
            <td>{{ hobby.level }}</td>
          </tr>
        </table>
        </div>
    </div>
</template>

<script>
export default {
  mounted () {
    this.$dragging.$on('dragged', ({value}) => {
      console.log(value.item)
      console.log(value.list)
      console.log(value.otherData)
    })
    this.$dragging.$on('dragend', () => {
    })
  },
  data () {
    return {
      isToggle: false,
      hobbies: [{
        text: 'Java',
        level: 'Advanced'
      }, {
        text: 'Vue framework',
        level: 'Intermediate'
      }, {
        text: 'SQL',
        level: 'Intermediate'
      }, {
        text: 'Spring framework',
        level: 'Intermediate'
      }, {
        text: 'UML',
        level: 'Intermediate'
      }, {
        text: 'HTML, CSS',
        level: 'Intermediate'
      }, {
        text: 'DRAG ME!',
        level: ''
      }]
    }
  },
  props: {
    front: {
      type: String,
      default: ''
    },
    back: {
      type: String,
      default: ''
    },
    textSizeFront: {
      type: String,
      default: '1em'
    },
    textSizeBack: {
      type: String,
      default: '2em'
    },
    colorTextFront: {
      type: String,
      default: '#00008B'
    },
    colorTextBack: {
      type: String,
      default: '#00008B'
    },
    colorFront: {
      type: String,
      default: '#FFFF66'
    },
    colorBack: {
      type: String,
      default: '#b478ed'
    },
    headerFront: {
      type: String,
      default: 'Hi! My name is Tomáš Nagy.'
    },
    headerBack: {
      type: String,
      default: 'Answer'
    },
    footerFront: {
      type: String,
      default: 'Click to get to know more about me.'
    },
    footerBack: {
      type: String,
      default: 'Choose social media.'
    }
  }
}
</script>
<style scoped>
  h3 {
    font-family: "Courier New", Courier;
  }
  /*footer*/
  canvas {
    border: 0px;
  }
  footer {
    position: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25px;
    bottom: 0;
    clear: both;
  }
  table{
    background-color: #b478ed;
    width: 50%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;    border: 1px solid black;
    tr:hover;
  }
  th{
    padding: 8px 2px;
    font-weight: normal;
    font-size: 14px;
  }
  .hobbies-list {
    color: black;
  }
  body {
    background: #F36E5F;
  }
  h1 {
    text-align: center;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: 100;
    color: #000000;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  div.social-btn {
    display: inline-block;
    width: 0px;
    float: right;
    margin: auto;
    text-align: center;
  }

  div.social-btn a {
    text-decoration: none;
  }
  div.social-btn div {
    width: 70px;
    display: inline-block;
    float: right;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-shadow: 0px 0px 5px #000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-bottom: 25px;
  }

  div.social-btn a:last-child div {
    margin-right: 0;
  }

  div.social-btn div:hover, div.social-btn div:active {
    height: 80px;
    padding-top: 10px;
  }

  i {
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  div.face span, div.twi span, div.in span, div.pin span, div.git span {
    position: absolute;
    left: 0;
    font-weight: 100;
    width: 20px;
    padding: 0px 15px;
    opacity: 0;
    -moz-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    line-height: 55px;
    font-size: 12px;
  }

  div.social-btn div:hover i {
    opacity: 0;
  }

  div.social-btn div:hover span {
    opacity: 1;
  }

  div.face {
    background: #3A5795;
    -moz-box-shadow: 0px 4px 0px #1e469d;
    -webkit-box-shadow: 0px 4px 0px #1e469d;
    box-shadow: 0px 4px 0px #3e6d8d;
    position: relative;
  }

  div.in {
    background: #0177B5;
    -moz-box-shadow: 0px 4px 0px #035e8e;
    -webkit-box-shadow: 0px 4px 0px #035e8e;
    box-shadow: 0px 4px 0px #035e8e;
    position: relative;
  }

  div.git i {
    text-shadow: none;
  }
  /*cardCSS*/
  .
  .centerrr {
    text-align: center;
  }

  .flashcard {
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .flashcard:hover {
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.8);
  }
  .cardtext{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  @keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
      transform: perspective(400px);
    }
  }

  .flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX;
  }
</style>
