<template>
  <div class="container" id="app">
    <svg version="1.1" width="100%" height="100%" class="filterwrapper">
      <defs>
        <svg id="glitchmask-r" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
          <line class="top-r" x1="0" y1="0" x2="100%" y2="0"> </line>
          <line class="bot-r" x1="0" y1="100%" x2="100%" y2="100%"></line>
        </svg>
        <svg id="glitchmask-g" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
          <line class="top-g" x1="0" y1="0" x2="100%" y2="0"></line>
          <line class="bot-g" x1="0" y1="100%" x2="100%" y2="100%"></line>
        </svg>
        <filter color-interpolation-filters="sRGB" id="filter" width="100%" heigth="100%" x="0" y="0">
          <!-- red text start -->
          <feFlood flood-color="red" result="REDTXT_FLOOD_10" />
          <feComposite operator="in" in="REDTXT_FLOOD_10" in2="SourceAlpha" result="REDTXT_COMP_20" />
          <feOffset in="SourceGraphic" dx="-2" dy="0" result="REDTXT_OFFSET_30" />
          <feMerge result="REDTXT_MERGE_40">
            <feMergeNode in="black" />
            <feMergeNode in="REDTXT_COMP_20" />
            <feMergeNode in="REDTXT_OFFSET_30" />
          </feMerge>
          <feImage preserveAspectRatio="none" id="mask-r" result="REDTXT_IMG_50" xlink:href="#glitchmask-r" />
          <feComposite in2="REDTXT_IMG_50" in="REDTXT_MERGE_40" operator="out" result="REDTXT_COMP_60" />
          <!-- red text end -->
          <!-- green text start -->
          <feFlood flood-color="limegreen" result="GREENTXT_FLOOD_10" />
          <feComposite operator="in" in="GREENTXT_FLOOD_10" in2="SourceAlpha" result="GREENTXT_COMP_20" />
          <feOffset in="SourceGraphic" dx="2" dy="0" result="GREENTXT_OFFSET_30" />
          <feMerge result="GREENTXT_MERGE_40">
            <feMergeNode in="black" />
            <feMergeNode in="GREENTXT_COMP_20" />
            <feMergeNode in="GREENTXT_OFFSET_30" />
          </feMerge>
          <feImage preserveAspectRatio="none" id="mask-g" result="GREENTXT_IMG_50" xlink:href="#glitchmask-g" />
          <feComposite in2="GREENTXT_IMG_50" in="GREENTXT_MERGE_40" operator="out" result="GREENTXT_COMP_60" />
          <!-- green text end -->
          <feMerge result="MERGE_10">
            <feMergeNode in="SourceGraphic" />
            <feMergeNode in="REDTXT_COMP_60" />
            <feMergeNode in="GREENTXT_COMP_60" />
          </feMerge>
        </filter>
      </defs>
    </svg>
    <hr/>
    <figure class="glitch-filter-example">
      <svg class="glitch-filter-example__demo"  width="100%" height="100%">
        <text class="glitch-filter-example__filtered-text" y="50%" text-anchor="middle" x="50%" transform="translate(0 34)">THANKS FOR YOUR VISIT.</text>
      </svg>
    </figure>
    <div class="contact-me" :class="{'open': formOpen}">
      <div class="button-copy" v-show="!formOpen" @click="formOpen = true">Contact me</div>
      <form action="https://formspree.io/nagythomyks@gmail.com" method="POST">
        <div class="form--field">
          <label>Name *</label>
          <input type="text" class="form--element" name="title" v-model="productData.title"
                 placeholder="First name and last name" required="">
        </div>
        <div class="form--field -short">
          <label>Email *</label>
          <input type="text" class="form--element" name="e-mail" v-model="productData.rating" placeholder="Rating" required="">
        </div>
        <div class="form--field">
          <label>Message</label>
          <input type="text" class="form--element text" name="text" v-model="productData.description" placeholder="Message" required="">
        </div>
        <button type="submit" value="Send" class="submit-button">Send it</button>
        <div class="cancel"><span @click="cancel()">Cancel</span></div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'contact-me',
  data () {
    return {
      formOpen: false,
      productData: {
        title: '',
        rating: '',
        price: '',
        list_price: '',
        is_featured: false
      }
    }
  },
  methods: {
    resetForm: function () {
      this.productData = {
        title: '',
        rating: '',
        price: '',
        list_price: '',
        is_featured: false
      }
    },
    cancel: function () {
      this.formOpen = false
      this.resetForm()
    }
  }
}
</script>

<style scoped>
  @font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 100;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v7/J7aHnp1uDWRBEqV98dVQztYldFcLowEFA87Heg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .filterwrapper {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
  }
  .glitch-filter-example {
    display: block;
    position: absolute;
    top: 350px;
    width: 1200px;
    height: 180px;
    text-align: center;
    margin: 0;
    padding: 4em 0 2em;
    min-width: 490px;
  }
  .glitch-filter-example__filtered-text {
    filter: url(#filter);
    fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
  }
  .top-r, .bot-r, .top-g, .bot-g {
    stroke: #fff;
  }
  .top-r {
    stroke-width: 100px;
    animation: topani 3.5s linear infinite;
  }
  .bot-r {
    stroke-width: 100px;
    animation: botani 4s linear infinite;
  }
  .top-g {
    stroke-width: 50px;
    animation: topani 4s linear reverse infinite;
  }
  .bot-g {
    stroke-width: 50%;
    animation: botani 3.5s linear reverse infinite;
  }
  @keyframes topani {
    3% {
      stroke-width: 190px;
    }
    8% {
      stroke-width: 100px;
    }
    12% {
      stroke-width: 161px;
    }
    18% {
      stroke-width: 153px;
    }
    22% {
      stroke-width: 89px;
    }
    25% {
      stroke-width: 56px;
    }
    34% {
      stroke-width: 104px;
    }
    37% {
      stroke-width: 44px;
    }
    43% {
      stroke-width: 86px;
    }
    48% {
      stroke-width: 73px;
    }
    52% {
      stroke-width: 31px;
    }
    57% {
      stroke-width: 46px;
    }
    64% {
      stroke-width: 142px;
    }
    67% {
      stroke-width: 112px;
    }
    72% {
      stroke-width: 64px;
    }
    75% {
      stroke-width: 104px;
    }
    80% {
      stroke-width: 181px;
    }
    86% {
      stroke-width: 64px;
    }
    92% {
      stroke-width: 24px;
    }
    98% {
      stroke-width: 152px;
    }
  }
  @keyframes botani {
    2% {
      stroke-width: 71px;
    }
    9% {
      stroke-width: 169px;
    }
    17% {
      stroke-width: 42px;
    }
    21% {
      stroke-width: 80px;
    }
    29% {
      stroke-width: 104px;
    }
    30% {
      stroke-width: 98px;
    }
    36% {
      stroke-width: 150px;
    }
    46% {
      stroke-width: 4px;
    }
    49% {
      stroke-width: 105px;
    }
    57% {
      stroke-width: 32px;
    }
    62% {
      stroke-width: 132px;
    }
    69% {
      stroke-width: 139px;
    }
    77% {
      stroke-width: 161px;
    }
    78% {
      stroke-width: 128px;
    }
    86% {
      stroke-width: 116px;
    }
    95% {
      stroke-width: 25px;
    }
    98% {
      stroke-width: 145px;
    }
    105% {
      stroke-width: 196px;
    }
  }
  .container {
    position: relative;
    top: 140px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-me {
    transition: all 0.3s ease;
    background-color: #000000;
    height: 144px;
    width: 144px;
    margin-right: 45%;
    border-radius: 72px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
    cursor: pointer;
  }

  .contact-me.open {
    background-color: #fafafa;
    padding: 18px 32px;
    border-radius: 5px;
    margin-right: 30%;
    width: 500px;
    height: 398px;
    cursor: default;
  }

  .contact-me.open form {
    opacity: 1;
    transition: opacity 0.1s ease;
    transition-delay: 0.3s;
    height: auto;
  }

  .contact-me .button-copy {
    text-align: center;
    line-height: 144px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f7f7f7;
  }

  .contact-me form {
    transition: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .contact-me .cancel {
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
  }

  .contact-me .cancel span {
    cursor: pointer;
  }

  .contact-me .cancel span:hover {
    text-decoration: underline;
  }

  .submit-button {
    display: block;
    background-color: #3498db;
    height: 40px;
    border-radius: 20px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    font-weight: 700;
    padding: 0 34px;
    margin: 0 auto;
    position: relative;
  }

  .submit-button img {
    top: 3px;
    right: 6px;
  }

  .submit-button:hover {
    background-color: #217dbb;
    cursor: pointer;
  }

  form * {
    outline: none;
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
  }

  label.emoji input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    margin: 0;
    display: none;
  }

  label.emoji input + span:after {
    content: "😶";
    font-size: 18px;
    top: 2px;
    left: 2px;
    position: relative;
    height: 18px;
    display: inline-block;
  }

  label.emoji input:checked + span:after {
    content: "😀";
  }

  .form--field {
    width: 420px;
    margin: 10px 0;
  }

  .form--price + input {
    padding-left: 14px;
  }

  .form--element {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 4px;
    color: #3d3d3d;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .form--element:focus {
    border: 1px solid #ffc145;
    border-radius: 2px;
  }

  .form--element:not(.text) {
    height: 30px;
  }

  .form--element.text {
    height: 80px;
    resize: none;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f3f4f5;
    cursor: default;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ::selection {
    background-color: #000000;
    color: #fff;
  }

  ::-moz-selection {
    background-color: #f5617a;
    color: #fff;
  }
</style>
