<template>
  <div class="wrapper">
    <h3 class="intro">Education</h3>
    <div class="container">
      <div class="timeline">
        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../Kosice_logo.png" height="180" width="90"/>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Bilingual Secondary Grammar School<i
                class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Bilingual Secondary Grammar School<i
                class="material-icons right">close</i></span>
              <p>Márai Sándor MTNy Gimnázium és Alapiskola</p>
              <p>September 2011 — May 2015</p>
            </div>
          </div>
          <div class="timeline-badge blue white-text"><i class="material-icons">school</i></div>
        </div>
        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../CVUT.jpg"/>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Czech Technical University in Prague<i
                class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Czech Technical University in Prague<i
                class="material-icons right">close</i></span>
              <p>Software Engineering and Technology</p>
              <p>2016-</p>
            </div>
          </div>
          <div class="timeline-badge yellow white-text"><i class="material-icons">school</i></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
</script>

<style scoped>
  h3 {
    font-family: "Courier New", Courier;
  }
  /*CSS for the Timeline*/
  .timeline {
    position: relative;
  }
  .card-content{
    background: #fdff02;
  }

  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }

  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #1796c5;
    left: calc(50% - 1px);
    top: 0;
  }

  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #fdff02;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }

  .timeline .timeline-event:first-child::before {
    display: none;
  }

  .timeline .timeline-event:last-child::after {
    display: none;
  }

  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }

  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }

  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }

  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }

  @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }

    .timeline .timeline-event::before {
      left: 19px;
    }

    .timeline .timeline-event::after {
      left: 19px;
    }

    .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
    }

    .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }

    .timeline .timeline-badge {
      left: 0;
    }
  }
</style>
