<template>
  <div>
      <quick-menu :menu-count=count :icon-class=icons :menu-url-list=list></quick-menu>
      <header id="footter">
        <canvas id="canvas" width="990" height="25"></canvas>
      </header>
  </div>
</template>
<script>
import quickMenu from '/Users/nagythomyks/Desktop/FEL-KAJ/kaj/node_modules/vue-quick-menu/src/quickMenu.vue'

export default {
  /* eslint-disable */
    name: 'menuu',
    data() {
      return {
        count: 4,
        icons: ["fa fa-id-card", "fa fa-tasks", "fa fa-graduation-cap", "fa fa-phone"],
        list: [
          {'isLink': true, url: "/aboutme"},
          {'isLink': true, url: "/other"},
          {'isLink': true, url: "/education"},
          {'isLink': true, url: "/contactme"}],
        backgroundColor:'#a7c507',
        color:'#ffffff',
        position: 'top-left',
        isOpenNewTab: false,
      }
    },
    components: {
      quickMenu,
    },
    mounted() {
      var canvas = document.getElementById('canvas'),
        ctx = canvas.getContext('2d');
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle = "black";
      ctx.font = "bold 10px Courier New";
      ctx.fillText('TOMÁŠ NAGY 2018; E-mail: nagythomyks@gmail.com; Phone: +421918593103', canvas.width / 3, canvas.height / 3);
    }
  }
</script>
<style scoped>
  canvas {
    border: 0px;
  }
  #footter {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25px;
    top: 0px;
    clear: both;
  }
</style>
