<template>
  <div>
    <p>
    <div>
      <audio controls>
        <source src="http://treehouse-code-samples.s3.amazonaws.com/html-video-and-audio/bridge-audio.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    <h3>P</h3>
    <h3>L</h3>
    <h3>A</h3>
    <h3>Y</h3>
    <div id="tom">
      <div class="columns">
        <div class="is-12 column" id="pinned_wrapper">
          <div id="sky"></div>
          <div id="city"></div>
          <div id="skyline_wrapper">
            <div id="skyline"></div>
          </div>
          <div id="walker"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
  export default {
  name: 'other',
    data() {
    return {
      controller: new ScrollMagic.Controller(),
    };
  },
  methods: {
    fadeIn() {
      const tween = TweenMax.to('#headline', 0.5, {
        opacity: 1,
        y: 0,
        ease: Circ.easeOut
      })
    },

    pinContainer() {
      const scene = new ScrollMagic.Scene({
        triggerElement: '#pinned_wrapper',
        triggerHook: 0,
        duration: 1200
      })
        .setPin('#pinned_wrapper', {pushFollowers: true})
        .addTo(this.controller)
    },

    walkIn() {
      const moveBackground = TweenMax.to('#walker', 1.0, {
        backgroundPositionX: '100%',
        ease: SteppedEase.config(6)
      });

      const moveForward = TweenMax.to('#walker', 1.0, {
        x: 900,
        ease: Power0.easeNone
      });

      const walkIn = new ScrollMagic.Scene({
        triggerElement: '#pinned_wrapper',
        duration: 1200
      })
        .addTo(this.controller)
        .setTween([moveBackground, moveForward])
    },

    backgroundWalkcycle() {
      const moveBackground = TweenMax.to('#city', 1, {
        backgroundPositionX: '0%',
        ease: Power0.easeNone
      })

      const moveSkyline = TweenMax.to('#skyline', 1, {
        backgroundPositionX: '-500px',
        ease: Power0.easeNone
      })

      const walkcycle = TweenMax.fromTo(
        '#walker',
        1,
        {
          backgroundPositionX: '0%'
        },
        {
          backgroundPositionX: '100%',
          ease: SteppedEase.config(6),
          repeat: 20
        }
      );

      const walkcycleScene = new ScrollMagic.Scene({
        triggerElement: '#pinned_wrapper',
        offset: 200,
        duration: '1200px'
      })
        .setTween(walkcycle)
        .addTo(this.controller)

      const backgroundScene = new ScrollMagic.Scene({
        triggerElement: '#pinned_wrapper',
        offset: 200,
        duration: '1200px'
      })
        .setTween(moveBackground)
        .addTo(this.controller)

      const skylineScene = new ScrollMagic.Scene({
        triggerElement: '#pinned_wrapper',
        offset: 200,
        duration: 1200
      })
        .setTween(moveSkyline)
        .addTo(this.controller)
    },
  },
  mounted() {
    this.fadeIn()
    this.pinContainer()
    this.walkIn()
    this.backgroundWalkcycle()
  }
  }
</script>

<style scoped>
  #musicc{
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0,0,0,.8);
  }
  h1{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }
  .column {
    padding: -0.4%;
  }

  #pinned_wrapper {
    position: relative;
    width: 100%;
    height: 400px;
  }

  #pinned_wrapper #city {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../../KAJ-pic1.png') no-repeat 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 23px;
    z-index: 10;
  }

  #pinned_wrapper #sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, #9bb4df 0%, #ddf0fc 25%);
    background-repeat: no-repeat;
    background-position-y: -11px;
    z-index: 1;
  }

  #pinned_wrapper #skyline_wrapper {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 5;
  }
  #pinned_wrapper #walker {
    background: url('../../walkingTom.png') no-repeat 0% 0%;
    position: absolute;
    height: 190px;
    width: 250px;
    left: 0;
    top: 47%;
    transform: translateX(-200px);
    z-index: 15;
  }
  .wrapper {
    margin-bottom: -50px;
  }
</style>
