<template>
  <div id="app">
    <router-view/>
    <transition name="fade">
    <Menuu v-if="showIntro==true"/>
    </transition>
    <div v-if="showIntro==false" class="center" id="message">
    <button  v-on:click="showIntro= !showIntro" v-on:mouseover="text='ENTER'" v-on:mouseleave="text='WELCOME'" class="outside">{{text}}</button>
    </div>
    <div id = "colorpanel">
      <table>
        <tr>
          <td><div class="color1" v-on:click ="changeBackground3"></div></td>
          <td><div class="color2" v-on:click ="changeBackground2"></div></td>
          <td><div class="color3" v-on:click ="changeBackground1"></div></td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import saveState from 'vue-save-state'
import Menuu from './components/Menuu.vue'
import ContactMe from './components/ContactMe.vue'
export default {
  name: 'app',
  data () {
    return {
      showIntro: false,
      text: 'WELCOME',
      color: 'lightskyblue'
    }
  },
  components: {
    Menuu,
    ContactMe
  },
  methods: {
    restoreTheColor () {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = this.color
    },
    changeBackground3 () {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = 'white'
      this.color = 'white'
    },
    changeBackground2 () {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = 'lightpink'
      this.color = 'lightpink'
    },
    changeBackground1 () {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = 'lightskyblue'
      this.color = 'lightskyblue'
    },
    getSaveStateConfig () {
      return {
        cacheKey: 'app'
      }
    }
  },
  mixins: [saveState],
  mounted () {
    this.restoreTheColor()
  }
}
</script>
<style>
  body {
    background-color: lightskyblue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%2340fffa' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  }
  #colorpanel {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .color1 {
    position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
  }
  .color2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: lightpink;
  }
  .color3 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: lightskyblue;
  }
  button {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  #app {
    font-family: 'Avenir', Curier, Curier, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /*margin-top: 60px;*/
  }

  /*CSS to Welcome*/
  .center {
    background: url("../../Welcomehead.png") top left;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-size: 101%;
    border-radius: 100%;
    margin: auto;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 5px 10px #000;
  }
  .center:hover {
    box-shadow: 0px 5px 20px #000;
    background-size: 115%;
  }
  .center:hover .outside {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(16, 115, 96, 0.5);
    width: 200px;
    letter-spacing: 10px;
    padding-left: 10px;
    line-height: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  }
  .center .outside {
    display: block;
    position: absolute;
    line-height: 100px;
    text-align: center;
    letter-spacing: 4px;
    padding-left: 4px;
    box-sizing: border-box;
    font-weight: 300;
    color: #fff;
    font-family: Curier;
    border-radius: 100%;
    width: 110px;
    height: 100px;
    background: #6e6e6e;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    transform: rotate(-135deg) translate(-100px) rotate(135deg);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .center .outside span {
    letter-spacing: 0;
  }
</style>
